@import './secciones/extend';

@import './secciones/tipografias';
@import './secciones/body';
@import './secciones/nosotros';
@import './secciones/cafeteras';
@import './secciones/procesos';
@import './secciones/variedades';


@media (max-width: 768px) {
    .variedades {        
        grid-template-columns: 1fr;
        grid-template-areas:
            "mexico"
            "brasil"
            "colombia"
            "ethiopia";
        justify-items: center;
        padding: 10px;

    }
    .cafeteras {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "filtro" 
        "espresso"
        "prensa" 
        "capsulas";        
        justify-items: center;       
    }
    .cafeteras img{
        justify-items: center;
        max-width: 90vw;
    }

    .variedades img {
        max-width: 90vw;
        justify-items: center;
    }
}